.todos-list-container{
    .todo-input{
        margin-bottom:20px;
    }
    .todo-list{
        width: 240px;
        margin: 0 auto;
        
        .todo-child{
            &:first-child{
                border-top: 1px solid gray;
            }
            margin: 10px;
            border-bottom: 1px solid gray;
            .btn-edit{
                margin:0 10px;
            }
        }
    }
}